@font-face {
    font-family: BebasNeue;
    src: url(./fonts/BebasNeue.ttf);
}
@font-face {
    font-family: LibreFranklin-Italic;
    src: url(./fonts/LibreFranklin-Italic.ttf);
}
@font-face {
    font-family: LibreFranklin;
    src: url(./fonts/LibreFranklin.ttf);
}

.test-body{

    height: 86vh;
    width: 100%;
    overflow-y: scroll;
    background-image: url('../photos/double-bubble-light.png');
}